{{#each this}}
<li class="heroes__item">
    <img src="{{this.images.lg}}" alt="{{this.name}}" class="heroes__picture">
    <div class="heroes__content">
        <h2 class="heroes__name">{{this.name}}</h2>
        <ul class="heroes__biography list">
            <li class="heroes__biography-item">
                <p class="heroes__gender"><strong>Gender: </strong> {{this.appearance.gender}}</p>
            </li>
            <li class="heroes__biography-item">
                {{#if this.biography.alterEgos}}
                <p class="heroes__alter-egos"><strong>Alter Egos: </strong> - {{this.biography.alterEgos}}</p>
                {{/if}}
                {{#unless this.biography.alterEgos}}
                <p class="heroes__alter-egos"><strong>Alter Egos: </strong> - </p>
                {{/unless}}
            </li>
        </ul>
    </div>
</li>
{{/each}}